<table>
  <thead>
    <th>Index</th>
    <th>Name</th>
    <th>Type</th>
  </thead>
  <tbody>
    <app-pokemon-detail
      *ngFor="let pokemon of pokemons"
      [detail]="pokemon"
    ></app-pokemon-detail>
  </tbody>
</table>

<br />
<br />

<table>
  <thead>
    <th>Index</th>
    <th>Name</th>
    <th>Type</th>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of pokemons; let i = index">
      <td [class.cool-bool]="pokemon.isCool">{{ pokemon.id }}</td>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.type }}</td>
    </tr>
    <!-- Two different ways for same thing -->
    <tr *ngFor="let pokemon of pokemons; let i = index">
      <td [ngClass]="{ 'cool-bool': pokemon.isCool }">{{ pokemon.id }}</td>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.type }}</td>
    </tr>
  </tbody>
</table>

<br />
<br />

<table>
  <thead>
    <th>Index</th>
    <th>Name</th>
    <th>Type</th>
  </thead>
  <tbody>
    <tr *ngFor="let pokemon of pokemons; let i = index">
      <td
        class="pokemon-td"
        [style.backgroundColor]="pokemon.isStylish ? '#ffa07a' : ''"
      >
        {{ pokemon.id }}
      </td>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.type }}</td>
    </tr>
    <!-- Two different ways for same thing -->

    <tr *ngFor="let pokemon of pokemons; let i = index">
      <td
        class="pokemon-td"
        [ngStyle]="{ backgroundColor: pokemon.isStylish ? '#ffa07a' : '' }"
      >
        {{ pokemon.id }}
      </td>
      <td>{{ pokemon.name }}</td>
      <td>{{ pokemon.type }}</td>
    </tr>
  </tbody>
</table>
