<form #form="ngForm">
  Pokemon Name:
  <input type="text" [(ngModel)]="pokemon.name" name="name" />
  <label for="isCool">
    <input
      type="radio"
      name="isCool"
      [value]="true"
      #pokemonName="ngModel"
      [(ngModel)]="pokemon.isCool"
      (ngModelChange)="toggleIsCool($event)"
    />
    Pokemon is cool?
    <input
      type="radio"
      name="isCool"
      [value]="false"
      [(ngModel)]="pokemon.isCool"
      (ngModelChange)="toggleIsCool($event)"
    />
    Pokemon is Not cool?
  </label>
  <label for="acceptTerms">
    <input
      type="checkbox"
      name="acceptTerms"
      [(ngModel)]="pokemon.acceptTerms"
    />Accept Terms
  </label>
  <label for="pokemonType">
    Pokemon Type:
    <select name="pokemonType" [(ngModel)]="pokemon.type">
      <option
        *ngFor="let type of pokemonType"
        [value]="type.value"
        [selected]="type.value === pokemon.type"
      >
        {{ type.value }}
      </option>
    </select>
  </label>
</form>
<div>
  <br />
  Model: {{ pokemon | json }}
  <br />
  FORM: {{ form.value | json }}
  <br />
  ERROR:
  <div *ngIf="!pokemonName.pristine">NOT PRISTINE ANYMORE IT IS DIRTY!</div>
  <!-- 
    $untouched The field has not been touched yet
    $touched The field has been touched
    $pristine The field has not been modified yet
    $dirty The field has been modified
    $invalid The field content is not valid
    $valid The field content is valid
   -->
</div>
