<form #form="ngForm">
  Pokemon Name:
  <input type="text" [(ngModel)]="pokemon.name" name="name" />
  <label for="isCool">
    <input
      type="radio"
      name="isCool"
      [value]="true"
      [(ngModel)]="pokemon.isCool"
      (ngModelChange)="toggleIsCool($event)"
    />
    Pokemon is cool?
    <input
      type="radio"
      name="isCool"
      [value]="false"
      [(ngModel)]="pokemon.isCool"
      (ngModelChange)="toggleIsCool($event)"
    />
    Pokemon is Not cool?
  </label>
  <label for="acceptTerms">
    <input
      type="checkbox"
      name="acceptTerms"
      [(ngModel)]="pokemon.acceptTerms"
    />Accept Terms
  </label>
</form>
<br />
Model: {{ pokemon | json }}
<br />
FORM : {{ form.value | json }}
